[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/umami-analytics"]
	path = themes/umami-analytics
	url = https://github.com/hugomods/umami-analytics
